.root {
  padding: 70px 15px;
  background-color: black;
}

@media (min-width: 900px) {
  .root {
    display: flex;
  }
}

.left {
  padding: 20px;
}

.middle {
  width: 100%;
  padding: 20px;
}

.right {
  justify-content: flex-end;
  padding: 20px;
}

.deploymentMap {
  width: 200px;
  min-height: 200px;
  margin: 0 0 40px 0;
}

.matches {
  width: 200px;
  min-height: 200px;
  background-color: #222;
}

.title {
  padding: 40px 0px;
  font-size: 1.7em;
  text-align: center;
}

.timer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 200px;
  border-color: lightgrey;
  border-style: solid;
}

.leaderboard {
  width: 200px;
  min-height: 420px;
  border-color: lightgrey;
  border-style: solid;
}

.image {
  width: 100%;
}