.root {
  text-align: center;
  padding: 20px;
}

.players {
}

.scores {
  padding: 20px 0;
}

.input {
  padding: 5px 0;
}

.submitButton {
  padding: 10px;
}

.submitPlayers {
  padding: 10px;
}

.password {
  opacity: 0.5;
}