.button {
  height: 32px;
  margin: 4px;
  padding: 0 32px;
  border-radius: 8px;
  background-color: #d00;
  color: #fff;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  border: none;
}

.button:hover {
  background-color: #e55;
}

.button:active {
  background-color: #f88;
  box-shadow: 1px 1px 4px 0px #557;
}