.root {
  text-align: center;
  padding: 20px;
}

.score {
  padding: 0 0 20px 0;
}

.submitButton {
  padding: 10px;
}

.password {
  opacity: 0.5;
}

.matches {
  margin: 20px;
}

.messages {
  padding: 10px;
}